.header{
    height: 34vw;
    margin: 30px auto;
    background:  no-repeat;
    background-size: contain;
    position: relative;
}
.background_img{
    height: 34vw;
    margin: 30px auto;
    background:  no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 25px;
    width: 98%;
}

.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;

}

.header-content h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw ,22px);
}

.header-content p {
    color: white;
    font-size: 1vw;

}
.header-content button{
    border: none;
    color: tomato;
    background-color: white;
    padding: 1vw 2.3vw;
    font-weight: 500;
    border-radius: 50px;
    font-size: max(1vw),13px;
    cursor: pointer;
}

@media (max-width:1050px){
    .header-content{
        max-width: 45%;
    }
}

@media (max-width:750px){
    .header-content{
        max-width: 65%;
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        
        padding: 2vw 4vw;
    }
}
@media (max-width:450px){
    .header{
        margin-bottom: 40px;
    }
}
@media (max-width:410px){
    .header-content{
        max-width: 80%;

    }
    .header-content button{
<<<<<<< HEAD
        display: none;
    }

    
=======
      display: none;
    }
>>>>>>> a39689722be38de0bceff0e9d8224e7cd0a42c21
    
}
